<!DOCTYPE html>

{%load static%}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>filter employee</title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{%static 'css/filter_emp.css'%}">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

</head>
<body>

	<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="{%static 'images/image1.jpg' %}" alt="images"></a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Select Option
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/all_emp/">ALL EMPLOYEES</a></li>
            <li><a class="dropdown-item" href="/add_emp/">ADD EMPLOYEES</a></li>
            <li><a class="dropdown-item" href="/del_emp/">REMOVE EMPLOYEES</a></li>
            <li><a class="dropdown-item" href="/filter_emp/">FILTER EMPLOYEES</a></li>
          </ul>
        </li>
      
      </ul>
      
      <script>
      var domainroot=""
      function Gsitesearch(curobj)
      {
        curobj.q.value=""+domainroot+" "+curobj.qfront.value
      }
      </script>
<form class="d-flex" action="http://www.google.com/search" method="get" onSubmit="Gsitesearch(this)">
<input name="q" type="hidden" />
<input class="form-control me-2" name="qfront" type="search" required class="searchField" placeholder="Google Site Sea

rch" aria-label="Search" maxlength="50"/>
<button class="btn btn-outline-success" type="submit">Search</button>
</form>


    </div>
  </div>
</nav>


	<div>
		<h1>Filter employee detials</h1>
	</div>
		<hr>
		<hr>
		<div class="container">
		<form action="/filter_emp/" method="post">
			{%csrf_token%}
			<label for='name'>Employee first name/lastname</label><br>
			<input type="text" class="form-control" id="name" name="name" value="{{name}}"><br>
			<label for='dept'>Department</label><br>
			<input type="text" class="form-control" id="dept" name="dept" value="{{dept}}"><br>
			<label for='role'>Role</label><br>
			<input type="text" class="form-control" id="role" name="role" value="{{role}}"><br>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>

	<hr>
<div class="conatiner1">
    <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
      <p>© 2023 Copyright </p>
        <a href="https://gmail.com/">Email: pawansrirama@gmail.com</p></a>
    </div>
  </div>



	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>